@charset "utf-8";
/* CSS Document */
#content {
	width:inherit;}
.functionlist {
	float:left;
	margin-right:1px;
	width:189px;
	text-align:left;}
.list-title {
	margin-bottom:2px;
	width:100%;
	height:16px;
	cursor:pointer;
	background-image:url(../image/list-title.gif);}
.list-title h1 {
	font-size:16px;
	line-height:16px;}
.list-content {
	width:inherit;
	display:block;}
.list-content ul li {
	margin-top:1px;
	padding-left:10px;
	background-image:url(../image/line.gif);}
/*....................................*/
.list-content label {
	float:left;
	width:3em;}
.list-content input {
	float:left;
	border-right:none;
	width:90px;}
.list-content select {
	float:left;
	width:54px;}
#rightContent {
	float:left;
	width:800px;}
#rightContent table {
	border:1px solid #0099CC;
	width:100%;}
#rightContent table td button {
	border:none;
	width:5.2em;
	height:2em;}
#rightContent table td,#rightContent table th {
	border:1px solid #0099CC;
	padding:2px;}
/*---------------------------*/
.pagecode {
	float:left;
	width:608px;
	padding:0 50px 0 50px;
	background-color:#EEFFFF;}
.pagecode label {
	float:left;
	color:#CC99FF;
	padding:0 10 0 10;
	width:78px;
	margin:1px;}
.pagecode label a  {
	color:#6633CC;
	text-decoration:none;}
.pagecode label a:link {
	color:#6633CC;
	text-decoration:none;}
.pagecode label a:visited {
	color:#6633CC;
	text-decoration:none;}
.pagecode label a:hover {
	color:blue;
	text-decoration:none;}
/*---------------------------*/
.status0 {
	color:#000099;
	background:#FF99FF;}
.status1 {
	color:#FF0000;
	background:#9999FF;}
.status2 {
	color:#9999FF;
	background:#FFFFCC;}